.rooster-timeline .timeline li span {
	display: inline-block;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.rooster-timeline .timeline li:nth-of-type(2n) span {
	display: block;
}

.rooster-timeline .rooster {
	/* 60px is the .timeline element width */
	width: calc(100% - 60px);
	margin-left: 60px;
}

