.welkomDiv {
	height: 300px;
	margin: auto;
	text-align: center;
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: white;
}

.welkomDiv h2 {
	font-size: 80px;
}

.welkomDiv a {
	font-size: 30px;
}

body::before {
	content: "";
	position: fixed;
	z-index: -100;
	width: 100%;
	top: 0px;
	position: absolute;
	height: 100%;
	background-color: #14C2CC;
	background-image: radial-gradient(circle farthest-side at top right, transparent, #0D64FF),
		radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0
		);
	animation: bg-change 10s infinite;
}

@
keyframes bg-change { 0%, 100% {
	filter: hue-rotate(0deg);
}

50%{
filter
:hue-rotate(-45deg)
;
}
}

.setupDiv {
	margin: auto;
	display: none; 
	width: 1100px;
	height: 100%;
	background-color: white;
	border-radius: 20px;
	margin-top: 100px; 
}

/* behandleingen */
.wizard {
	display: none; 	
	position: relative;
	width: 100%;
}

.wizard .progressbar {
	counter-reset: step;
	left: 200px;
	width: 80%;
	position: relative;
	left: 10%;
}

#vorigeStap {
	float: left;
	width: 160px;
	margin: 5px;
}

#volgendeStap {
	float: right;
	margin: 5px;
	width: 160px;
}

.wizardstep {
	width: 1100px;
	height: 600px;
	border: 1px solid black;
	display: none;
	bacckground-color: white;
}

.behandelingenLijstDiv {
	float: left;
	width: 450px;
	height: 500px;
	text-align: center;
}

#behandelingenLijst {
	text-align: left;
	width: 100%;
	height: 450px;
	border-right: 1px solid gray;
	overflow: scroll;
}

#behandelingenLijst .behandelingDiv {
	margin: 10%;
	background-color: orange;
	position: relative;
	width: 80%;
	border: 1px solid black;
}

#behandelingenLijst .behandelingDiv .behandelingNaam {
	top: 0px;
	display: inline-block;
	font-size: 22px;
	left: 0px;
	width: 80%;
}

#behandelingenLijst .behandelingDiv .behandelingPrijs {
	right: 0px;
	font-size: 22px;
	position: absolute;
	border: 1px solid black;
}

#behandelingenLijst .behandelingDiv .behandelingBeshrijving {
	left: 0px;
	min-height: 50px;
	display: inline-block;
	width: 100%;
}

.geslachtEnBehandeling {
	display: inline-block;
	width: 100%;
	border: 1px solid black;
}

#behandelingenLijst .behandelingDiv .behandelingGeslacht {
	left: 0px;
}

#behandelingenLijst .behandelingDiv .behandelingLengte {
	position: absolute;
	right: 0px;
}

.BehandelingToevoegenForm {
	float: right;
	width: 600px;
	margin: auto;
	height: 600px;
	top: 200px;
	background-color: white;
}

.BehandelingToevoegenForm .inputDiv {
	width: 100%;
	height: 60%;
}

.BehandelingToevoegenForm .inputDiv .inputField {
	width: 100%;
	height: 50px;
}

.BehandelingToevoegenForm .inputDiv .inputField .inputNaam {
	float: left;
}

.inputBehandelingToevoegen {
	float: right;
}

.BehandelingToevoegenForm .inputDiv .inputBehandelingToevoegen {
	width: 70%;
	right: 5px;
}

.inputPrijsToevoegen {
	width: 80px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 2px;
}

.BehandelingToevoegenForm .inputDiv #addBehandeling {
	margin: auto;
}

.BehandelingToevoegenForm .geslachtDiv {
	width: 100%;
	height: 20%;
}

.geslachtButton {
	width: 20%;
	background-color: white;
	margin-left: 3%;
	height: 50px;
	border: 2px solid blue;
	border-radius: 4px;
	color: blue;
}

.geslachtButton:hover {
	color: white;
	background-color: #3D5FC4;
}

.selectedGeslachtButtton {
	width: 20%;
	margin-left: 3%;
	height: 50px;
	border: 2px solid blue;
	border-radius: 4px;
	color: white;
	background-color: #3D5FC4;
}

/* afspraak settings */

/* The container */
.invoervelden .container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.invoervelden .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.invoervelden .checkmark {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border: 2px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.invoervelden .container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.invoervelden .container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.invoervelden .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.invoervelden .container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.invoervelden .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.invoervelden .bedrijfInfoInput {
	display: inline-block;
	width: 100%;
	height: 50px;
	top: 5px;
	border: 1px solid black;
}

/* dagen */
#dagenForm {
	width: 100%;
	height: 100%;
	position: relative;
}

.dagInputArea {
	text-align: center;
	height: 25%;
	width: calc(50% - 1px);
	float: left;
}

.dagInputArea a {
	font-size: 20px;
}

.dagInputArea .dagenInput {
	display: inline-block;
	width: 200px;
	height: 25px;
}

.dagInputArea .dagTijden {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.tijdKiezen {
	width: 800px;
	border: 1px solid black;
	height: 500px;
	top: 100px;
	margin: auto;
	position: relative;
	background-color: white;
}

.tijdKiezen .openingsTijdKiezen {
	float: left;
}

.tijdKiezen .sluitingsTijdKiezen {
	float: right;
}

.tijdKiezen .timepicker-dial {
	width: 250px;
	height: 250px;
	border: 1px solid black;
	border-radius: 50%;
	position: relative;
	display: none;
}

.tijdKiezen .timepicker-dial .selectedTime {
	left: 25px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #408F90;
}

.tijdKiezen .timepicker-uur-openingstijd:hover {
	background-color: aquamarine;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.tijdKiezen .timepicker-uur-sluitingsTijd:hover {
	background-color: aquamarine;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.tijdKiezen .timepicker-minuut-openingstijd:hover {
	background-color: aquamarine;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.tijdKiezen .timepicker-minuut-sluitingsTijd:hover {
	background-color: aquamarine;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.tijdKiezen #openingsTijd {
	width: 300px;
	display: inline-block;
	height: 30px;
	border: 1px solid black;
}

.tijdKiezen #sluitingsTijd {
	width: 300px;
	display: inline-block;
	height: 30px;
	border: 1px solid black;
}

.tijdKiezen #okButton {
	position: absolute;
	bottom: 5px;
}