body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}



blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Source Sans Pro", sans-serif;
	color: #222222;
	background-color: white;
}

.rooster-timeline {
	position: relative;
	margin: 2em 0;
}

.rooster-timeline .timeline {
	display: none;
}

@media only screen and (min-width: 550px) {
	.rooster-timeline .events .single-event {
		width: 40%;
	}
}

.rooster-timeline.loading .rooster .single-event {
	/* the class .loading is added by default to the .rooster-timeline element
	   it is removed as soon as the single events are placed in the schedule plan (using javascript) */
	opacity: 0;
}

.rooster-timeline .event-name {
	font-size: 2.4rem;
}