.geslachtenDiv {
	background-color: #4169E1;
}

.removeBehandelingButton {
	background-color: red;
	font-size: 50px;
	color: white;
	border: 0px;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	padding: -10px;
	top: 10px;
	position: absolute;
	right: 80px;
}

.addBehandelingButton {
	background-color: #4CDA64;
	font-size: 50px;
	color: white;
	border: 0px;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	padding: -10px;
	top: 10px;
	position: absolute;
	right: 20px;
}

.BehandelingToevoegenForm {
	width: 500px;
	margin: auto;
	height: 600px;
	background-color: white;
	border-radius: 10px;
	position: relative;
}

.BehandelingToevoegenForm .header {
	color: white;
	text-align: center;
	padding: 10px;
	background-color: #14C2CC;
	padding: 10px;
}


.BehandelingToevoegenForm .inputDiv {
	width: 100%;
	height: 60%;
}

.BehandelingToevoegenForm .inputDiv .inputField {
	width: 100%;
	height: 50px;
}

.beschrijvingClass {
	height: 100px;
}

.prijs {
	margin-top: 80px;
}

.BehandelingToevoegenForm .inputDiv .inputField .inputNaam {
	float: left;
}

.beschrijvingToevoegen {
	height: 100px;
	resize: none;
}

.inputField .behandelingValue {
	margin-left: 100px;
}

.inputBehandelingToevoegen {
	float: right;
}

.BehandelingToevoegenForm .inputDiv .inputBehandelingToevoegen {
	width: 70%;
	right: 5px;
}

.BehandelingToevoegenForm .inputDiv .inputPrijsToevoegen {
	width: 80px;
	height: 30px;
	border: 1px solid blue;
}

.BehandelingToevoegenForm .inputDiv .inputLengteToevoegen {
	width: 60px;
	height: 35px;
}

.BehandelingToevoegenForm .geslachtDiv {
	width: 100%;
	height: 20%;
}

.geslachtButton {
	width: 20%;
	background-color: white;
	margin-left: 3%;
	height: 50px;
	border: 2px solid blue;
	border-radius: 4px;
	color: blue;
}

.geslachtButton:hover {
	color: white;
	background-color: #3D5FC4;
}

.selectedGeslachtButtton {
	width: 20%;
	margin-left: 3%;
	height: 50px;
	border: 2px solid blue;
	border-radius: 4px;
	color: white;
	background-color: #3D5FC4;
}

.BehandelingToevoegenForm .submitController {
	width: 100%;
	height: 20%;
	bottom: 0px;
	position: absolute;
	text-align: center;
}

#inplannenBehandelingToevoegen {
	margin-left: 20px;
	float: left;
}

#annuleerBehandelingAnnuleren {
	float: right;
	margin-right: 20px;
}