:root {
	--afspraakKlasse0: gray;
	--afspraakKlasse1: #34D77B;
	--afspraakKlasse2: #445DFF;
	--afspraakKlasse3: #B23636;
}

body {
	margin: 0px;
}

/* Animaties */
@ keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}

}

@ keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}

}

.infoText {
	color: blue;
}

.topBar {
	display: inline-block;
	top: 0px;
	width: 100%;
	height: 40px;
	margin: 0px;
	background-color: #202E5D;
	padding: 5px;
	color: white;
	font-size: 25px;
	text-align: center;
}

.topBar #homeButton {
	float: left;
}

.topBar #instellingenButton {
	float: right;
}

.topBar #logoutButton {
	float: right;
	margin-left: 5px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.defaultButton {
	display: inline-block;
	background-color: white;
	color: blue;
	border-radius: 0px;
	width: 150px;
	height: 40px;
	border: 2px solid blue;
	font-family:Metropolis,Inter,X-LocaleSpecific,sans-serif;
}

.defaultButton:hover {
	background-color: #3D5FC4;
	color: white;
}

.defaultButtonSelected{
	display: inline-block;
	background-color: blue;
	color: white;
	border-radius: 0px;
	width: 150px;
	height: 40px;
	border: 2px solid blue;
	font-family:Metropolis,Inter,X-LocaleSpecific,sans-serif;
}

.defaultButtonSelected:hover{
	background-color: white;
	color: blue;
}

.cancelButton {
	display: inline-block;
	background-color: white;
	color: red;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	border: 1px solid red;
}

.createButton {
	display: inline-block;
	background-color: #6aa121;
	color: black;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	border: 2px solid green;
}


.navigatieButton {
	display: inline-block;
	background-color: #3D5FC4;
	color: white;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	border: 1px solid blue;
}

.navigatieButton:hover {
	background-color: white;
	color: blue;
}

input[type=text] {
	width: 300px;
	height: 30px;
	border: 1px solid blue;
	border-radius: 3px;
}

.meldingDiv {
	right: 0px;
	z-index: 5;
	position: absolute;
	top: 0px;
	width: 300px;
	height: 50px;
	margin: 10px;
	color: white;
	border: 2px solid black;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
}

#laadscherm {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0px;
	left: 0px;
}

#laadscherm .contentDiv {
	position: absolute;
	width: 200px;
	height: 100px;
	border: 1px solid blue;
	left: 40%;
	top: 40%;
}

#laadscherm .contentDiv .lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

#laadscherm .contentDiv .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid black;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: black transparent transparent transparent;
}

#laadscherm .contentDiv .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

#laadscherm .contentDiv .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

#laadscherm .contentDiv .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}