.errorDiv{
	margin: auto;
	width: 300px;
	height: 60px;
	background-color: red;
	border-radius: 10px;
	margin-top: 10px;
}

.errorLijst{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 400px;
	background-color: blue;
} 