


.afspraakColor{
	width: 550px;
	height: 80px;
	margin: 10px;	
}

.afspraakColor .price-picker{
	width: 250px;
	height: 80px;
	float: left;
}

.afspraakColor .price-picker .prijsVeld{
	width: 50px;
	height: 30px;
	border: 0px;
	left: 150px;
	border-radius: 0px;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	margin: 3px;
}

.afspraakColor .color-picker{
	top: 30px;
	float: right;
	width: 250px;
	height: 80px;
	border: 1px solid black;
	border-radius: 5px;
	background-color:#424242;
}

.afspraakColor .color-picker .container {
  display: block;
  width: 30px;
  position: relative;
  padding-left: 35px;
  float: left;
  margin-bottom: 35px;
  margin-left: 5px;
  margin-right: 0px;
  cursor: pointer;
  font-size: 22px;
}

.afspraakColor .color-picker .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.afspraakColor .color-picker .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: #2196F3;
  border-radius: 50%;
}

.afspraakColor .color-picker .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.afspraakColor .color-picker .container input:checked ~ .checkmark:after {
  display: block;
}

.afspraakColor .color-picker .container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}