.klantenPaginaBeheerModal-content {
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 1200px;
	background-color: white; /* Black w/opacity/see-through */
	height: 650px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.klantenPaginaBeheerModal-content .contact {
	width:100%;
	height: 20%;
	border: 1px solid black;
}


/* The container */
.klantenPaginaBeheerModal-content .contact .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.klantenPaginaBeheerModal-content .contact .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.klantenPaginaBeheerModal-content .contact .checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.klantenPaginaBeheerModal-content .contact .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.klantenPaginaBeheerModal-content .contact .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.klantenPaginaBeheerModal-content .contact .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.klantenPaginaBeheerModal-content .contact .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.klantenPaginaBeheerModal-content .contact .container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.klantenPaginaBeheerModal-content .backgroundKlantPagina {
	width:100%;
	height: 20%;
	border: 1px solid black;
}

.klantenPaginaBeheerModal-content .invoervelden {
	width:100%;
	height: 20%;
	border: 1px solid black;
}

.klantenPaginaBeheerModal-content .controle {
	width:100%;
	height: 20%;
	border: 1px solid black;
}


/* The container */
.invoervelden .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.invoervelden .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.invoervelden .checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.invoervelden .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.invoervelden .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.invoervelden .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.invoervelden .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.invoervelden .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
