body {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/90spattern.jpg');
  overflow-x: hidden;
  height: 4000px;
}

.text {
  position: fixed;
  width: 460px;
  height: 90px;
  top: 50%;
  margin-top: -45px;
  left: 50%;
  margin-left: -230px;
}

span {
  display: inline-block;
  position: relative;
  font: 'Arial Black', Arial;
  font-weight: bold;
  font-size: 80px;
}

.container {
  height: 4000px;
  overflow: hidden;
}

.boy {
  display: block;
  position: absolute;
}

.joey {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/joey.png);
  width: 300px;
  height: 418px;
}

